/_build/
/deps/
/.elixir_ls/
/.nerves/
/target/
/tmp/
*.fw
*.img
*.squashfs
*.cpio
*.tar
*.tar.gz
*.zip

# Local build/debug logs
/tmp/log/*.log
/tmp/log/*.dump

# Local example application environment
/examples/atomcam2_nerves_app/.envrc
